@import 'style.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #0a192f;
    /*color: rgb(233, 227, 227);*/
    color: #64ffda;
    display: grid;
    height: 100vh;
    width: 100%;
    font-family: "Open Sans";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "box1 box2"
    "box3 box4"
}

.box1 {
    grid-area: box1;
    /*we only wanna chance one here*/
    align-self: center;
    justify-self: center;
}

.box1 img {
    border-radius: 50%;
}

.box2 {
    margin-top: 20px;
    grid-area: box2;
}

.box2 h2 {
    text-align: start;
}

.box3 p {
    color: rgb(233, 227, 227);
    text-align: start;
}

.box3 h2 {
    color: rgb(233, 227, 227);
    text-align: start;
}

.box2 p {
    text-align: start;
}

.box2 li {
    list-style: none;
    color: rgb(233, 227, 227);
}

.box2 i {
    padding: 1px;
    margin: 5px;
}

.box3 {
    align-self: center;
    justify-self: center;
    grid-area: box3;
}

.box4 {
    align-self: center;
    grid-area: box4;
}

.box4 i {
    padding: 1px;
    margin: 5px;
}

.box4 h3 {
    padding: 30px;
    line-height: 1.0rem;
    text-align: start;
}

.box4 a {
    color: rgb(233, 227, 227);
}

.box4 a:hover {
    color: #64ffda;
}
