@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
    --primary-color: #3a4052;
}

body {
    font-family: "Open Sans";
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.content h1 {
    font-weight: 300;
    font-size: 60px;
    color: white;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 15px;
}

.content h3 {
    color: rgb(192,192,192);
}

.showcase {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--primary-color) url("../img/cover.jpg") no-repeat center center/cover;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.video-container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.content {
    z-index: 2;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: var(--primary-color);
    color: white;
    border: 1px white solid;
    border-radius: 5px;
    margin-top: 25px;
    opacity: 0.7;
}

.btn:hover {
    transform: scale(0.98);
    color: #64ffda;
}

#about {
    padding: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
}

#about p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
    text-align: justify;
}

#about h2 {
    margin: 30px 0;
    color: var(--primary-color)
}

.social a {
    margin: 0 5px;
}

.social i:hover {
    color: #64ffda;
    transform: scale(0.98);
}
